In [1]:
import pandas as pd

class FailSim:
    def __init__(self, excel_filename: str):
        self.df = pd.read_excel(excel_filename)
        
    def cleanup_data(self):
        return self.df
        
FailSim('data.xlsx').cleanup_data()

        تاریخ  کد کامیون    تناژ     خرابی    کارکرد  سوخت  مسافت
0    1/9/1404          7     NaN       NaN       NaN   NaN     NaN
1         NaN         40     NaN       NaN       NaN   NaN     NaN
2         NaN         61  449.92  07:12:00  04:40:00   NaN     NaN
3         NaN         74  569.52  02:19:00  08:11:00   NaN     NaN
4         NaN         77  371.42  07:31:00  04:29:00   NaN     NaN
..        ...        ...     ...       ...       ...   ...     ...
295       NaN         64  531.07       NaN  08:15:00   NaN     NaN
296       NaN         44  543.69       NaN  08:06:00   NaN     NaN
297       NaN         53     NaN       NaN       NaN   NaN     NaN
298       NaN         89  603.12       NaN  08:27:00   NaN     NaN
299       NaN         52     NaN       NaN       NaN   NaN     NaN

[300 rows x 7 columns]